figcaption {
  text-align: right;
  font-family: Courier, monospace;
  color: #555;
}

body {
  background-color: #EEE;
}

a {
  color: #444;
}

a:hover,
a:focus {
  color: #000;
}

nav ul {
  list-style: none;
  text-align: left;
  /* padding-top: .5em; */
  padding-left: 0;
  margin: 0;
}

nav li {
  display: inline;
  font-family: Courier, monospace;
  font-size: 1.4em;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding-right: 1em;
}


#video {
  padding-top: 1em;
}

.video-fluid {
 position: relative;
 height: 0;
 padding-top: 56.2%;
 border: 1px solid #ccc; /* optional */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#my-works {
  padding-top: 3em;
  font-family: Courier;
}

img {
  padding-top: 1em;
}

#about h1 {
  padding-top: 1.5em;
  font-family: Courier;
}

#contact {
  padding-top: 3em;
  font-family: Courier;
}
